@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer components{
  .footer{
    @apply text-xl text-black
  }
  .footer_link{
    @apply cursor-pointer opacity-85 w-fit text-black text-[15px] hover:text-red-700
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
